@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #444452;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-inconsolata {
  font-family: Inconsolata, monospace;
}

@layer components {
  .custom-shadow {
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 0px;
  }
}

.grid-cols-tiles {
  grid-template-columns: repeat(var(--columns), 1fr);
}

.grid-rows-tiles {
  grid-template-rows: repeat(var(--rows), 1fr);
}
