@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Apercu;
  color: #444452;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-inconsolata {
  font-family: Inconsolata,monospace;
}